html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  color: white;
  padding: 10px;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.content {
  padding: 50px;
}

.box {
  position: relative;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  max-width: 700px;
}

.live {
  background-color: rgb(255, 46, 46);
  color: rgb(238, 213, 213);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.view {
  background-color: rgba(0, 0, 0, 0.665);
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 2;
}

.title {
  position: absolute;
}

